.table-main {
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  border: 1px solid #abacac;
  align-items: center;
  width: 70%;
}

/* //////////////////// */
/* top part of table */

.top-table {
  color: #616062;
  font-size: 16px;
  padding-top: 4%;
  width: 80%;
}

.invoice {
  font-size: 20px;
  font-weight: bold;
}

img {
  margin-left: 25%;
  width: 150px;
}

.blue-text {
  color: #476cab;
  font-weight: bold;
  border-bottom: 1px solid #abacac;
  text-align: center;
}

/* //////////////////// */
/* middle part of table */

.middle-table {
  width: 80%;
  padding-top: 2%;
  padding-bottom: 4%;
}

.align-text-left {
  text-align: start;
}

/* //////////////////// */
/* bottom part of table */

.bottom-table {
  width: 80%;
  padding: 1% 6%;
  border-collapse: collapse;
  font-size: 14px;
  height: 10px;
}

.bottom-table tr td {
  border: 1px solid #abacac;
  width: 5px;
}

.list {
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-color: #476cab !important;
}
.bottom-table tr:nth-child(odd) {
  width: 100%;
  background-color: #d1d6d6;
}

/* //////////////////// */
/* subtotal part of table */

.subtotal-table {
  width: 55%;
  text-align: end;
  margin-right: 10%;
}

.subtotal-numbers {
  border-bottom: 1px solid #abacac;
}

.subtotal-text {
  font-size: 16px;
}

.subtotal-balance {
  font-size: 18px;
  font-weight: bold;
}

.subtotal-sum {
  background-color: #94b3e7;
  font-weight: bold;
  border-bottom: 3px solid #000;
}
